# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.idea/
target/
out/

# 二进制文件
bin

# Package Files #
*.jar
*.war
*.nair
*.ear
*.zip
*.tar.gz
*.rar
*.DS_Store

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
cbhb_study_lounge.iml
rubik-webapp/src/main/resources/rebel.xml
