<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.UserDao">
    <resultMap type="User" id="UserResultMap">
        <id property="Id" column="id"/>
        <result property="Name" column="name"/>
        <result property="Sex" column="sex"/>
        <result property="Phone" column="phone"/>
        <result property="Password" column="password"/>
        <result property="CulturalLevel" column="cultural_level"/>
    </resultMap>
    <insert id="addUser" parameterType="User">
        INSERT INTO User(id, name, sex, phone, password, cultural_level) VALUE (#{Id},#{Name}, #{Sex}, #{Phone},#{Password},#{CulturalLevel})
    </insert>

    <delete id="deleteUserById" parameterType="int">
        DELETE
        FROM User
        WHERE ID = #{Id}
    </delete>

    <update id="updateUser" parameterType="User">
        UPDATE User
        SET name          = #{Name},
            sex           = #{Sex},
            phone         = #{Phone},
            password      = #{Password},
            cultural_level = #{CulturalLevel}
        WHERE id = #{Id}
    </update>

    <select id="queryById" resultType="User" parameterType="int">
        SELECT id, name, sex, phone, password, cultural_level
        FROM User
        WHERE id = #{Id}
    </select>
    <select id="queryAllUser" resultMap="UserResultMap">
        SELECT id, name, sex, phone, password, cultural_level
        FROM user
    </select>

</mapper>